.accordionWrapper{
    border-bottom: 1px solid #D9D9D9;
    
    .accordionSummary {
        background-color: #1d1d1d;
        color: var(--color-white);
    }
    
    .accordionDetails{
        background-color: #1d1d1d;
        color: var(--color-subtitle);
    }
}

.addIcon {
    padding: 4px;
    background-color: var(--color-primary);
    border-radius: 50%;
}